<footer class="d-flex  border-top">
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-12 col-md-6 mt-4 ">
                <ul class="our-goal ">
                    <li>
                        <span> Our Goal</span>
                        <p>
                            There are many way to define medical tourism,which as also known as medical travel, surgical
                            tourism, health travel. health care abroad.
                        </p>
                    </li>
                    <li>
                        <span>Rules</span>
                        <p>
                            There are many way to define medical tourism,which as also known as medical travel, surgical
                            tourism, health travel. health care abroad.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 mt-4">
                <span>
                    Content Us
                </span>
                <ul class="content-us mr-3 ml-3">
                    <li>
                        <p>There are many way to define medical tourism,which as also known</p>
                        <span>+98 123 456789</span> <span>+98 123 456789</span>
                    </li>
                    <li>
                        <p>There are many way to define medical tourism,which as also known</p>
                        <span>+98 123 456789</span> <span>+98 123 456789</span>
                    </li>
                    <li style="list-style: none">
                        <ul class="communication">
                            <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                            <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-5 mb-1">
            <div class="col-sm-12">
                <ul class="menu-bottom">
                    <li><a>About Us</a></li>
                    <li><a>FAQ</a></li>
                    <li><a>Join Us</a></li>
                    <li><a>Guide</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>