<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Plugins/Notify/jquery.growl.js"></script>
    <script src="~/Plugins/Hichart/newJS/highstock.js"></script>
    <script src="~/Plugins/Hichart/newJS/exporting.js"></script>
    @*<script src="~/Plugins/Hichart/highcharts.js"></script>*@
    <script src="~/Plugins/Hichart/chartfunctions.js"></script>

</head>
<body>
    @RenderBody()
</body>
</html>
